<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link">Home</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>11.02.2022</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam architecto, at consequuntur corporis cum, distinctio expedita facere fuga fugiat nulla officia optio pariatur placeat quia reiciendis tenetur voluptates. Aliquid aperiam atque consectetur cum dicta, ducimus fuga illo laboriosam libero magni mollitia, nihil obcaecati optio porro repellendus, ut vitae voluptatem.</p>
  </div>
</div>
